
<div *ngIf="user | async; let user; else loading"> 
  {{user.firstName}} {{user.lastName}} 
</div>
 <ng-template #loading>
    Loading User Data ...
</ng-template>


<h1 blueColors>Test </h1>
<h1 [appHighlight]="'yellow'">Texte en highlight</h1>

<div *ngIf="authenticated; else noAuthenticated">
  The user is logged in.
  <button class="btn btn-primary" (click)="logout()">Log out</button>
</div>

<ng-template #noAuthenticated>
    Please login to continue.
    <button class="btn btn-primary"(click)="login()">Log in</button>
</ng-template>

<form #f="ngForm">
    <input type="email" ngModel name="email" required email>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    <p>Form state : {{ f.valid ? 'VALID' : 'INVALID' }}</p>
</form>

<h1>{{title | uppercase}}</h1>
<b>{{6589.23 | currency:"TND"}}</b><br/>
<h1>Date pipe</h1>
<b>{{todaydate | date:'d/M/y'}}</b><br/>
<b>{{todaydate | date:'shortTime'}}</b>
<h1>Decimal Pipe</h1>
<b>{{ 454.78787814 | number: '3.4-4' }}</b> 
<h1>Percent Pipe</h1>
<b>{{00.54565 | percent}}</b>
<h1>Slice Pipe</h1>
<b>{{months | slice:2:6}}</b> 


<h1>My Pipe Branche</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/>
<!-- <b>Square root of 28 is: {{28 | sqrt}}</b> -->