<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="familyForm" (ngSubmit)="onSave()">
         <fieldset>
           <div class="form-group">
             <label>Code</label>
             <input type="text"
                    class="form-control"
                    formControlName="code">
           </div>
           
           <div class="form-group">
            <label>Libellé</label>
            <input type="text"
                   class="form-control"
                   formControlName="libelle">
           </div>
          
          





           <button type="submit" class="btn btn-primary">Ajouter</button>
           <button type="button" class="btn btn-warning">Annuler</button>
   
          </fieldset>
        </form>
      </section>
    </div>
  </div>
</div>